<mat-sidenav-container fullscreen>
  <mat-sidenav
    #sidenav
    [mode]="breakpointXSmall ? 'over' : 'side'"
    [opened]="breakpointXSmall ? false : true"
  >
    <app-side-nav (onClose)="breakpointXSmall ? sidenav.close() : null"></app-side-nav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header [breakpoints]="breakpointXSmall" (toggle)="sidenav.toggle()"></app-header>
    <div class="content-wrapper">
      <app-progress [mode]="'indeterminate'"></app-progress>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
