<img src="" alt="" />

<img class="img-fluid bg-angular shadow-sm" src="assets/images/angular.svg" alt="" srcset="" />

<mat-nav-list dense class="mt-2">
  <a
    mat-list-item
    [routerLink]="['/stock']"
    routerLinkActive="link-active"
    (click)="onClickNavClose()"
  >
    <span mat-line>
      <span class="mat-h4">Stock</span>
    </span>
    <img matListAvatar src="assets/images/stock.png" alt="" />
  </a>
  <a
    mat-list-item
    [routerLink]="['/shop']"
    routerLinkActive="link-active"
    (click)="onClickNavClose()"
  >
    <span mat-line>
      <span class="mat-h4">Shop</span>
    </span>
    <img matListAvatar src="assets/images/shop.png" alt="" />
  </a>
  <mat-divider class="mt-4"></mat-divider>
  <h3 matSubheader>Dashboard</h3>
  <a
    mat-list-item
    [routerLink]="['/summary']"
    routerLinkActive="link-active"
    (click)="onClickNavClose()"
  >
    <span mat-line>
      <span class="mat-h4">Summary</span>
    </span>
    <img matListAvatar src="assets/images/summary.png" alt="" />
  </a>
  <a
    mat-list-item
    [routerLink]="['/customer']"
    routerLinkActive="link-active"
    (click)="onClickNavClose()"
  >
    <span mat-line>
      <span class="mat-h4">Customer</span>
    </span>
    <img matListAvatar src="assets/images/customer.png" alt="" />
  </a>
</mat-nav-list>
