<mat-toolbar color="primary">
  <button (click)="onClickNavToggle()" mat-button>
    <mat-icon class="material-symbols-outlined">menu</mat-icon>
  </button>
  <span *ngIf="!breakpointXSmall">MYPOS</span>
  <span class="flex-fill"></span>
  <div class="d-flex align-items-center">
    <button mat-button aria-label="Example">
      <mat-icon class="material-symbols-outlined">search</mat-icon>
    </button>
    <div class="vl"></div>
    <button mat-button aria-label="Example">
      <mat-icon [matBadge]="demoMailNoti" class="material-symbols-outlined" matBadgeColor="accent"
        >mail</mat-icon
      >
    </button>
    <div class="vl"></div>
    <button mat-button aria-label="Example">
      <mat-icon [matBadge]="demoNoti" class="material-symbols-outlined" matBadgeColor="accent"
        >notifications</mat-icon
      >
    </button>
  </div>
  <button mat-button [matMenuTriggerFor]="menu">
    <img
      class="avatar rounded-circle bg-white"
      src="assets/images/angular.svg"
      alt=""
      srcset=""
    />
    <span class="mx-1">Admin Angular</span>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon class="material-symbols-outlined">personal</mat-icon>
      <span>Account</span>
    </button>
    <button mat-menu-item>
      <mat-icon class="material-symbols-outlined">settings</mat-icon>
      <span>Settings</span>
    </button>
    <button mat-menu-item>
      <mat-icon class="material-symbols-outlined">exit_to_app</mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
</mat-toolbar>
