html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:focus:focus {
  outline: unset;
}

.bg-angular {
  background: linear-gradient(145deg, #0d47a1, #42a5f5);
}

.mat-form-field-wrapper {
  padding-bottom: 0;
}

.mat-card {
  margin-bottom: 16px;
}

.snackbar {
  color: rgb(255, 255, 255);
}

.snackbar.success {
  background-color: rgb(46, 125, 50);
}

.snackbar.error {
  background-color: rgb(211, 47, 47);
}
